.ct-slide {
    display: flex;
    justify-content: flex-end;
    &__image {
        width: 100%;
        height: auto;
        img {
            width: 65%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }


}

@include mobile {
    .ct-slide {
        &__image {
            width: 80%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
}